/******************************************
/* CSS
/*******************************************/
/* .your-style {
    font-family: 'Leronda';
    font-weight: normal;
    font-style: normal;
} */
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/******************************************
/* LAYOUT / resets
/*******************************************/

*:root,
*::after,
*::before {
  --bg-primary: #1e1e1e;
  --bg-secondary: #f4f4f4;
  --bg-secondary-accent: #fff;

  --bg-primary-accent-light: hsl(0, 0%, 60%);
  --bg-primary-accent-mid: hsl(0, 0%, 38%);
  --bg-primary-accent-dark: hsl(0, 0%, 21%);

  --bg-highlight: #f2ba39;

  --text-primary: #f3f3f3;
  --text-secondary: #838383;
  --text-nav: #a3a3a3;
  --text-secondary-highlight: #9e9e9e;

  --ff-header: 'Lora', serif;
  --ff-nav: 'Open Sans', sans-serif;
  --ff-primary: 'Poppins', sans-serif;
}

button {
  border: unset;
  background-color: unset;
  color: unset;
}

/******************************************
/* header
/*******************************************/

header {
  padding: 0 5%;
  background-color: var(--bg-primary);
  font-family: var(--ff-nav);
  font-weight: 400;
}

header nav {
  width: 100%;
}

nav ul {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

nav li {
  list-style-type: none;
}

nav a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: var(--text-nav);
  font-size: 1rem;
  text-transform: uppercase;
}

.logo a {
  display: block;
  margin-top: 10px;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--bg-secondary);
  border-radius: 4px;
}

.logo + li {
  margin-left: auto;
}

.nav-icon:not(.nav-icon + .nav-icon) {
  margin-left: auto;
}

.nav-icon a {
  padding: 7px 15px;
}

.nav-icon img {
  display: block;
  width: 24px;
}

/******************************************
/* hero/landing page
/*******************************************/

.heroSection {
  display: flex;
  padding: 100px 5% 100px 5%;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

/******************************************
/* hero/landing page > .pitchSection
/*******************************************/

.pitchSection {
  width: 50%;
}

.pitchSection p {
  margin: 0;
  color: var(--text-secondary-highlight);
  font-size: 18px;
  font-weight: 400;
  font-family: var(--ff-primary);
}

/* FIX THE FONT, FIND THE RIGHT ONE */
.pitchSection h1 {
  /* font-family: 'Leronda';
  font-weight: 400; */
  /* font-family: var(--ff-header);
  font-weight: 600; */
  font-family: unset;
  margin: 0;
  margin-top: 20px;
  font-size: 80px;
  line-height: 88px;
}

h1 em {
  font-style: normal;
  font-weight: lighter;
}

.star {
  display: inline-block;
  background-color: var(--bg-highlight);
  /* star might be rounded */
  background-image: url('../../assets/svg/Star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px 45px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.emailPromo {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 85% 15%;
  grid-template-rows: 100%;
  /* justify-items: center; */
  align-items: center;
  height: 80px;
  width: 90%;
  /* position: relative; */
  /* background-color: rgba(255, 255, 0, 0.3); */
}

.emailPromo label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: var(--text-secondary-highlight);
  margin-left: 40px;
  font-family: var(--ff-primary);
}

/* outline on focus needs to be fixed */
.emailPromo input {
  background-color: unset;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 0;
  padding-left: 40px;
  height: 100%;
  width: 100%;
  border: 2px solid var(--text-secondary-highlight);
  color: var(--text-secondary-highlight);
  font-family: var(--ff-primary);
  border-radius: 40px;
}

.emailPromo button {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  border-radius: 50%;
  background-color: var(--bg-secondary);
  background-image: url('../../assets/svg/arrow-right-dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
}

/******************************************
/* hero/landing page > .statsSection
/*******************************************/

.statsSection {
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.statsSection div {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  width: 40%;
}

.statsSection div + div {
  border-left: 2px solid var(--bg-primary-accent-mid);
  /* this feels bad, fix later */
  padding-left: 10%;
}

/* the font is wrong, the 9, Lato is close but 1 is off */
.statsSection div p:first-of-type {
  color: var(--text-primary);
  font-size: 36px;
}
.statsSection div p:last-of-type {
  font-size: 16px;
  line-height: 1.25;
}

/******************************************
/* hero/landing page > .productShowCaseSection
/*******************************************/

.productShowCaseSection {
  position: relative;
  /* padding-left: 5%; */
  width: 50%;
  display: grid;
  grid-template-columns: 45% 0.75fr;
  grid-template-rows: 40% 40%;
  justify-items: center;
  row-gap: 20px;
  column-gap: 30px;
}

.productShowCaseSection::before {
  position: absolute;
  content: '';
  bottom: 0;
  right: 0;
  background-image: url('../../assets/svg/line-3Circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  width: 170px;
  height: 57px;
}

.showcase-1 {
  position: relative;
  /* height: 80%; */
  width: 100%;
  background-color: var(--bg-primary-accent-mid);
  border-radius: 130px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

/* no a element but should all be in an A later for clicking */
.showcase-1 a {
  text-decoration: none;
  color: var(--bg-primary);
  text-transform: uppercase;
  font-family: var(--ff-primary);
  font-weight: 500;
}

.showcase-1::before {
  position: absolute;
  content: '';
  top: 70px;
  left: -50px;
  /* background-color: yellw; */
  background-image: url('../../assets/svg/FatStar.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80px;
  height: 80px;
}

/* svg styles */
.showcase-1 textPath,
.specialEdition textPath {
  /* width: 100%; */
  font-size: 13px;
  color: var(--bg-primary);
  text-transform: uppercase;
  font-family: var(--ff-primary);
  font-weight: 400;
  letter-spacing: 2px;
}

.showcase-1 div {
  position: absolute;
  bottom: -10px;
  right: -20px;
}

.specialEdition {
  width: 100px;
  height: 100px;
  background-color: var(--bg-highlight);
  border-radius: 50%;
  background-image: url('../../assets/svg/StarRounded.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}

.specialEdition svg {
  width: 100%;
  height: 100%;
  /* outline: 1px solid blue; */
  /* transition: transform 0.2s; */
  /* animation: spin 1s ease-in 0.5s 1; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.specialEdition textPath {
  /* font-family: var(--ff-primary); */
  font-weight: 500;
  font-weight: 600;
  font-size: 12px;
  /* font-weight: 700; */
}

/* .specialEdition svg:hover {
  transform: rotate(180deg);
} */

.showcase-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--bg-primary-accent-dark);
  width: 100%;
  border-radius: 130px 130px 0 0;
  /* margin-bottom: 20px; */
  /* justify-self: left; */
}
.showcase-3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--bg-primary-accent-light);
  width: 100%;
  height: 100%;
  border-radius: 150px;
  /* justify-self: left; */
}

/******************************************
/* Our categories Section
/*******************************************/

.categoriesSection {
  /* left/right padding 130px by ruler but too big for 1200px screen */
  padding: 150px 5% 130px 5%;
  background-color: var(--bg-secondary);
}

.categoriesSection div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoriesSection h2 {
  margin: 0;
  font-size: 48px;
  color: var(--bg-primary);
}

.line {
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline-block;
  background-color: var(--text-secondary);
  width: 120px;
  height: 2px;
}

.categoriesSection p {
  margin: 0;
  font-size: 16px;
  line-height: 2;
  color: var(--text-secondary);
  font-family: var(--ff-primary);
  width: 50ch;
}

.categoriesCarousel {
  position: relative;
  margin-top: 70px;
  display: flex;
  gap: 30px;
}

.categoryLink {
  background-color: var(--bg-secondary-accent);
  width: 230px;
  height: 320px;
  border-radius: 115px;
}

.left-arrow-btn,
.right-arrow-btn {
  --dia: 65px;
  position: absolute;
  top: calc(50% - var(--dia) / 2);
}
/* right arrow still needed */
.left-arrow-btn {
  right: 0;
  width: var(--dia);
  height: var(--dia);
  border-radius: 50%;
  background-color: var(--bg-secondary-accent);
  background-image: url('../../assets/svg/arrow-right-dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  box-shadow: 1px 1px 10px 0.5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/******************************************
/* New Features Sections
/*******************************************/

.newFeaturesSectionContainer {
  padding-top: 140px;
  padding: 140px 5% 150px 5%;
  display: flex;
  gap: 150px;
  background-color: var(--bg-secondary-accent);
}

/******************************************
/* New Features Sections > newFeaturesSection
/*******************************************/

.newFeaturesSection {
  width: 50%;
}

.newFeaturesSection h2 {
  margin: 0;
  font-size: 48px;
  color: var(--bg-primary);
}

.newFeaturesSection .line {
  width: 140px;
}

.newFeaturesSection ol {
  padding: 0;
  margin-top: 70px;
  font-family: var(--ff-primary);
  counter-reset: item;
  list-style-type: none;
}

.newFeaturesSection li {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-top: 30px;
  position: relative;
  display: block;
  padding-left: 55px;
}

/* for light edge on 2nd element */
.newFeaturesSection li:nth-child(2) {
  box-shadow: 0px 1px 10px 1px rgba(180, 180, 180, 0.2),
    -5px -6px 20px 1px rgba(255, 255, 255, 1);
  clip-path: inset(2px -15px -15px 0px);
}

.newFeaturesSection li::before {
  position: absolute;
  top: 15px;
  left: 0;
  content: counter(item, decimal-leading-zero) ' ';
  counter-increment: item;

  font-size: 24px;
  font-weight: 400;
  color: var(--text-secondary-highlight);
}

.newFeaturesSection h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  color: var(--bg-primary);
}
.newFeaturesSection p {
  margin: 0;
  margin-top: 24px;
  width: 42ch;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: var(--text-secondary-highlight);
}

/******************************************
/* New Features Sections > newFeaturesSection
/*******************************************/

.featureShowcaseIMG {
  position: relative;
  background-color: var(--bg-primary-accent-light);
  width: 50%;
  height: 615px;
  border-bottom-left-radius: 250px;
}

.featureShowcaseIMG div {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.featureShowcaseIMG .specialEdition {
  transform: scale(1.2);
}

/******************************************
/* Our products section
/*******************************************/

.productSaleSection {
  padding: 140px 5% 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-secondary);
}

.productSaleSection h2 {
  margin: 0;
  font-size: 48px;
  color: var(--bg-primary);
}

.productSaleSection > p {
  width: 40ch;
  text-align: center;
  font-family: var(--ff-primary);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 400;
  color: var(--text-secondary);
}

/******************************************
/* Our products section >  catagorySelectorMenuUL
/*******************************************/

.catagorySelectorMenuUL {
  padding: 0;
  margin: 0;
  margin-top: 50px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.catagorySelectorMenuUL li {
  position: relative;
  font-family: var(--ff-primary);
  font-size: 18px;
  color: var(--text-secondary-highlight);
  cursor: pointer;
}

.catagorySelectorMenuUL li:hover {
  color: var(--bg-primary);
  font-weight: 500;
}

/* animate this for later so it slides around */
.catagorySelectorMenuUL li:hover::before {
  position: absolute;
  /* 2 less for border on after */
  bottom: -13px;
  left: 0px;
  content: '';
  background-color: var(--bg-primary);
  width: 100%;
  height: 5px;
  clip-path: polygon(43% 100%, 50% 0, 58% 100%);
}

.catagorySelectorMenuUL li:hover::after {
  position: absolute;
  bottom: -15px;
  left: 0px;
  content: '';
  background-color: var(--bg-primary);
  width: 100%;
  border-bottom: 2px solid var(--bg-primary-accent-light);
}

/******************************************
/* Our products section >  productCatalogSection
/*******************************************/

.productCatalogSection {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 60px;
  width: 100%;
}

.productCard {
  position: relative;
  font-family: var(--ff-primary);
  /* background-color: var(--bg-secondary-accent); */
}

/* should be an img */
.productCard div {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background-color: var(--bg-secondary-accent);
}

.productCard p {
  margin: 0;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text-secondary-highlight);
}

.productCard h4 {
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--bg-primary);
}

.price {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-secondary-highlight);
}

/******************************************
/* Our products section >  sale/new ad
/*******************************************/
.sale-ad {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  font-family: var(--ff-primary);
  font-size: 12px;
  line-height: 60px;
  font-weight: 600;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--bg-highlight);
  color: var(--bg-primary);
  z-index: 50;
}

/******************************************
/* Our products section >  button
/*******************************************/

.btn {
  margin-top: 60px;
  padding: 0;
  padding: 15px 40px;
  font-family: var(--ff-primary);
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 30px;
  border: 2px solid var(--text-secondary-highlight);
  color: var(--bg-primary);
  cursor: pointer;
}

/******************************************
/* coupon section
/*******************************************/

.couponSectionContainer {
  padding: 140px 5% 130px 5%;
  background-color: var(--bg-secondary);
}

/******************************************
/* coupon section > coupon
/*******************************************/
/* FIX: with image, the padding needs to change */
.coupon {
  padding: 50px 90px 60px 90px;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-secondary-accent);
  border-radius: 8px;
}

.couponPitchContainer {
  padding-top: 85px;
  position: relative;
}

.couponPitchContainer::before {
  position: absolute;
  content: '';
  top: 15px;
  left: 0;
  width: 170px;
  height: 57px;
  background-image: url('../../assets/svg/line-3Circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scaleX(-1);
}

.coupon h2 {
  margin: 0;
  font-size: 48px;
  color: var(--bg-primary);
}

.coupon p {
  margin: 0;
  margin-top: 24px;
  font-family: var(--ff-primary);
  font-size: 16px;
  color: var(--text-secondary-highlight);
}

.coupon .emailPromo {
  margin-top: 40px;
  height: 60px;
}

.coupon .emailPromo input {
  border-color: var(--text-secondary);
}

.coupon .emailPromo button {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  background-color: var(--bg-primary);
  background-image: url('../../assets/svg/arrow-right-light.svg');
  background-size: 25px 25px;
}

/******************************************
/* coupon section > productDisplay
/*******************************************/

.productDisplay {
  position: relative;
  width: 38%;
  background-image: url('https://m.media-amazon.com/images/I/715DQkdCvnL._AC_SX679_.jpg'),
    url('../../assets/svg/line-vector-field.svg');
  background-repeat: no-repeat;
  background-position: left 80px top 0, right;
  background-size: 60%, contain;
}

.productDisplay .specialEdition {
  position: absolute;
  bottom: 40px;
  right: 25px;
  transform: scale(0.8);
}

/******************************************
/* footer decoration (above footer)
/*******************************************/

.half-circle {
  width: 100%;
  height: 120px;
  background-color: var(--bg-secondary);
}

.half-circle svg {
  width: 100%;
  height: 100%;
}

.half-circle circle {
  stroke: var(--text-secondary-highlight);
}

/******************************************
/* footer
/*******************************************/

footer {
  padding: 45px 5% 90px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-secondary);
}

/******************************************
/* footer > contactSection
/*******************************************/

.contactSection {
  width: 30%;
}

.contactSection h2 {
  margin: 0;
  font-size: 48px;
  line-height: 1.25;
  color: var(--bg-primary);
}

.contactSection p {
  margin: 0;
  margin-top: 40px;
  font-family: var(--ff-primary);
  font-size: 18px;
  color: var(--text-secondary-highlight);
}

.contactSection p a {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-family: var(--ff-primary);
  font-size: 19px;
  color: var(--text-secondary-highlight);
}

.star-inverse {
  position: relative;
  top: 10px;
  display: inline-block;
  background-color: var(--bg-primary);
  /* star might be rounded */
  background-image: url('../../assets/svg/Star-inverse.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

/******************************************
/* footer > contactSection
/*******************************************/
.linksSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
}

.linksContainer {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}

.linksContainer li:first-of-type {
  /* 20px added to a 20px gap = 40px */
  margin-bottom: 20px;
}

.linksContainer li:first-of-type a {
  font-weight: 600;
  color: var(--bg-primary);
}

.linksContainer a {
  text-decoration: none;
  font-family: var(--ff-primary);
  font-size: 18px;
  color: var(--text-secondary-highlight);
}

.linksContainer.socials {
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 15px;
}

.socials li:first-of-type {
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.facebook {
  background-image: url('../../assets/svg/facebook-logo.svg');
}
.instagram {
  background-image: url('../../assets/svg/instagram-logo.svg');
}
.twitter {
  background-image: url('../../assets/svg/twitter-logo.svg');
}
/******************************************
/* footer > small
/*******************************************/

.copywrite {
  display: block;
  padding: 18px 0;
  width: 100%;
  text-align: center;
  font-family: var(--ff-primary);
  font-size: 16px;
  font-weight: 300;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
